<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item left quarter">
         <button class="topcoat-icon-button--large--quiet" href="" ng-click="back()">
            <span class="topcoat-icon icomatic">back</span>
        </button>
    </div>

    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">New Contact</h1>
    </div>
    <div class="topcoat-navigation-bar__item right quarter">
        <button class="topcoat-icon-button--large--quiet" ng-click="save(qrValue, contactName, videoStream)">
            <span class="topcoat-icon icomatic">save</span>
        </button>
    </div>
</div>

<form>
  <fieldset style="padding-left: 0px;padding-right: 0px;padding-bottom: 0px;border-bottom-width: 0px;border-left-width: 0px;border-right-width: 0px;margin-left: 0px;margin-right: 0px;border-top-width: 0px">
        <article class="component center">
            <section style="margin-bottom: 5px">
                <qr-scanner ng-success="onSuccess(data)" ng-error="onError(error)"></qr-scanner>
            </section>
            <section style="margin-bottom: 5px">
                <input class="topcoat-text-input--large" type='text' ng-model="qrValue" placeholder="Unique ID from QR Code" style="width:80%"/>
            </section>
            <section>
                <input class="topcoat-text-input--large" type='text' ng-model="contactName" placeholder="Please enter a contact name." style="width:80%"/>
            </section>
        </article>
  </fieldset>
</form>